.label {
  margin-right: 0.1em;
}

.core {
  margin-right: 1em;
}

.game h4 {
  margin-top: 0;
}

form#add-game {
  margin-bottom: 1em;
}

.admin {
  display: none;
}

.game {
  border: 1px solid gray;
  padding: 1em 0;
  border-radius: 1em;
  margin-bottom: 1em;
}

.btn-meh, .label-meh {
  background-color: #ccc;
}

.destroy {
  color: #FF0000;
  cursor: pointer;
}

.player-state {
  cursor: pointer;
  display: none;
}

p {
  font-size: large;
}